<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/user/{id}(id=${user.getUsername()})}" th:object="${user}">
    <label for="username">Username:</label>
    <input type="text" th:field="*{username}" id="username"/>
    <p style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error</p>

    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</p>

    <label for="firstName">First name:</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <p style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">error</p>

    <label for="lastName">Last name:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <p style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">error</p>

    <label for="role">Role:</label>

    <select id="role">
        <option th:each="role : ${T(com.molocziszko.usercontrolsystem.models.Role).values()}"
                th:value="${role}"
                th:text="${role}">
        </option>
    </select>

    <label for="role">Role:</label>

    <select id="status">
        <option th:each="status : ${T(com.molocziszko.usercontrolsystem.models.Status).values()}"
                th:value="${status}"
                th:text="${status}">
        </option>
    </select>
    <br>
    <input type="submit" value="Edit">
</form>

</body>
</html>